{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Дневной расход
{% endblock title %}


{% block body %}
<h1><a href="{% url 'expences:daily-consumption' %}"><button type="button" class="btn btn-dark"><b>ДНЕВНОЙ ОСТАТОК</b></button></a></h1><br><br>


<div id='daily_cons_balance' >
    <p>Месячный остаток: {{ per_month }} руб</p>
    <p>На количество дней: {{ days }}</p>
    <p>Буфферные деньги: {{ buffer_money }} руб</p> 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Потраченно денег:  <input id="text-field__input" type="number" name="spend_money" value="0" min="0">
        <button type="submit" class="my_button">ok</button></p>
    </form>
</div>

<div>

</div>
<div>
    {% if spend_money %}

    
    Потраченно: {{ spend_money }} руб <br>

    {% if buffer_money >= spend_money %}

    Остаток: {{ spend_money_lt_buffer }}руб <br>

    {% else %} 

    <h3>{{alarm}}</h3>
    Сумма списанная с резерва: {{ sum_that_gt }}<br>
    Резерв:{{ reserv_value }}<br>
    {% endif %}

    {% endif %}
</div>

{% endblock body %}