{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{operation }}{% endblock title %}
{% block body %}
<a href="javascript:history.back()"><button type="button" class="btn btn-light"><i class="bi bi-arrow-left-square-fill"></i> назад</button></a>
<br>
<ul>
<li>{{object.user}}</li>
<li>{{object.name}}</li>
<li>{{object.value}}</li>
<li>{{object.date}}</li>
</ul>
<h1>{{ operation }}</h1>
<h5>{{ alert_message }}</h5>
    <form method = 'post'>
        {%csrf_token%}           
        <button type="submit" class="btn btn-danger">ДА</button>
    </form>


{% endblock body %}