{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block body %}
<a href="javascript:history.back()"><button type="button" class="btn btn-light"><i class="bi bi-arrow-left-square-fill"></i> назад</button></a>
<h1>Расходы</h1>
<table class="table table-dark table-striped">
    {% for obj in object_list %}
    <tr>
        {% if obj.status == False %}
        <td>{{obj.name}} </td>
        <td>{{obj.value}}</td>
        <td>{{obj.user}}</td>
        <td>{{obj.date}}</td>
        <td> 
            {% if obj.status == False %}
            Не оплачено
            {% else %}
            Оплачено
            {% endif %}
        </td>
        {% else %}
        <td><s>{{obj.name}} </s></td>
         <td><s>{{obj.value}}</s></td>
        {% comment %} <td><s>{{obj.user}}</s></td> {% endcomment %}
        <td><s>{{obj.date}}</s></td>
        <td>
            {% if obj.status == False %}
            Не оплачено
            {% else %}
            Оплачено
            {% endif %}
        </td>
        {% endif %}
        <td><a href= "{% url 'expences:detail' pk=obj.pk %}" class="btn btn-secondary"><i class="bi bi-info-circle"></i></a></td>
        <td><a href= "{% url 'expences:update' pk=obj.pk %}" class="btn btn-info"><i class="bi bi-pencil-fill"></i></a></td>
        <td><a href= "{% url 'expences:delete' pk=obj.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
    </tr>
    {% endfor %}
</table>
<h4>На дневные расходы до конца месяца: <b>{{ daily_consumption }}</b></h4>
<h4>Общая сумма обязательных расходов: <b>{{total_to_pay}}</b></h4>
<h4>Сумма неоплаченных обязательных расходов: <b> {% if total_exp == 0 %} Все оплачено {% else %}{{ total_exp }}{% endif %}</b></h4>
<h4>Осталось оплатить услуги на сумму: <b>{{total}}</b></h4>
<li><a href="{% url 'expences:create' %}">Добавить статью расходов</a></li>
{% endblock body %}