{% extends 'base.html' %}




{% block body %}
<ul>
{% comment %} <li><a href="{% url 'expences:create' %}">Добавить статью расходов</a></li> {% endcomment %}
<li><a href="{% url 'expences:list' %}">Список расходов</a></li>
{% comment %} <li><a href="{% url 'expences:create-s' %}">Добавить зачисление на карту</a></li> {% endcomment %}
<li><a href="{% url 'expences:list-s' %}">Список доходов</a></li>


{% if user.user_per_day %}
<li><a href="{% url 'expences:update-per-day' pk=user.user_per_day.pk %}">Изменить дневной расход</a></li>
{% else %}
<li><a href="{% url 'expences:create-per-day' %}">Установить дневной расход</a></li>
{% endif %}


</ul>

<h3>Дней до зарплаты: {{ days_to_salary }}</h3>
<h3>На ежедневыне расходы до конца месяца: {{ money_to_salary }}руб(расчетный остаток)</h3>

<h3>Резерв: {{ reserv }}</h3>
<h3>!!!: {{ money_to_salary }}руб(расчетный остаток)</h3>
{% endblock body %}
