{% extends 'base.html' %}




{% block body %}
<ul>
    <br>
    <li><a href="{% url 'expences:list' %}"><b>Расходы</b></a></li>
    <br>
    <li><a href="{% url 'expences:list-s' %}"><b>Зарплата</b></a></li>
    <br>
    <li><a href="{% url 'expences:list-a' %}"><b>Дополнительные доходы</b></a></li>
    <br>
    <br>
    <li><a href="{% url 'expences:update-per-day' pk=user.user_per_day.pk %}"><b>Изменить дневной расход</b></a></li>
    <br>
    <li><a href="{% url 'expences:reserv' pk=user.user_reserv.pk %}"><b>Изменить резерв</b></a></li>
    



</ul>

<h3>Дней до зарплаты: {{ days_to_salary }}</h3>
<h3>На ежедневыне расходы до конца месяца: {{ money_to_salary }}руб(расчетный остаток)</h3>
{% if not_paid != 0 %}
<h3>Сумма не оплаченых платежей: {{not_paid}} руб </h3>
{% endif %}
<h3><a href="{% url 'expences:reserv' pk=user.user_reserv.pk %}">Резерв: {{ reserv }} руб</a></h3>
<h3>Прогнозируемый остаток на карте: {{ ost }} руб </h3>
<h3>Дополнительный доход за текущий месяц: {{ additional }}руб(расчетный остаток)</h3>
<br>
<br>
<form action="{% url 'expences:main' %}" method="post">
    {% csrf_token %}
    <p>Реальный баланс карты:</p>
    <p>Сумма:<input type="number" name="balance" value="0" min="1"></p>
    <p><button type="submit" class="btn btn-success">Рассчитать резерв</button></p>
    {% comment %} <input type="hidden" name="book_pk" value="{{books.pk}}">{% endcomment %}
</form>
<br>
<h5>!!!!! {{balance}}<h5>
<h5>difference {{difference}}</h5>
<h5>real {{real_reserv}}</h5>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock body %}














    {% comment %} <li><a href="{% url 'expences:create' %}">Добавить статью расходов</a></li> {% endcomment %}
{% comment %} <li><a href="{% url 'expences:create-s' %}">Добавить зачисление на карту</a></li> {% endcomment %}
{% comment %} {% if user.user_per_day %} {% endcomment %}
{% comment %} {% else %}
<li><a href="{% url 'expences:create-per-day' %}">Установить дневной расход</a></li>
{% endif %} {% endcomment %}