{% extends 'base.html' %}




{% block body %}
<ul>
    <br>
    <li><a href="{% url 'expences:list' %}"><b>Список расходов</b></a></li>
    <br>
    <li><a href="{% url 'expences:list-s' %}"><b>Список доходов</b></a></li>
    <br>
    <br>
    <li><a href="{% url 'expences:update-per-day' pk=user.user_per_day.pk %}"><b>Изменить дневной расход</b></a></li>
    <br>
    <li><a href="{% url 'expences:reserv' pk=user.user_reserv.pk %}"><b>Изменить резерв</b></a></li>
    



</ul>

<h3>Дней до зарплаты: {{ days_to_salary }}</h3>
<h3>На ежедневыне расходы до конца месяца: {{ money_to_salary }}руб(расчетный остаток)</h3>

<h3><a href="{% url 'expences:reserv' pk=user.user_reserv.pk %}">Резерв: {{ reserv }} руб</a></h3>
<h3>Прогнозируемый остаток на карте: {{ ost }} руб </h3>
{% comment %} <h3>!!!: {{ money_to_salary }}руб(расчетный остаток)</h3> {% endcomment %}
{% endblock body %}














    {% comment %} <li><a href="{% url 'expences:create' %}">Добавить статью расходов</a></li> {% endcomment %}
{% comment %} <li><a href="{% url 'expences:create-s' %}">Добавить зачисление на карту</a></li> {% endcomment %}
{% comment %} {% if user.user_per_day %} {% endcomment %}
{% comment %} {% else %}
<li><a href="{% url 'expences:create-per-day' %}">Установить дневной расход</a></li>
{% endif %} {% endcomment %}