{% extends 'base.html' %}

{% block body %}
<h5>Данное действие внесет следующие изменения:</h5>
<ol>
    <li>Изменит статус всех расходов на "неоплачен"</li>
    <li>Перезапишет резерв исходя из зачисчленной ЗП с вычетом ежемесячных(обязательных) и ежедневных расходов </li>
    {% comment %} <li></li>
    <li></li>
    <li></li>
    <li></li> {% endcomment %}
</ol>
<p>Рекомендуется вносить изменения после зачисления ЗП</p>
<form action="{% url 'expences:recalculation' %}" method="post">
    {% csrf_token %}
    <p><button type="submit" class="btn btn-secondary">Рассчитать месячный(!) резерв</button></p>
    <p><b>*итоговый резерв будет перезаписан</b></p>
</form>
{% endblock body %}