{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавить тренировку{% endblock title %}

    {% block body %}
    <a href="javascript:history.back()"><button type="button" class="btn btn-light"><i class="bi bi-arrow-left-square-fill"></i> назад</button></a>
    <br>
    <h1>Добавить тренировку </h1>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form |crispy}}
    <input type="submit" class="btn btn-success" value="Ok">
    </form>
    {% endblock body %}

