{% extends 'base.html' %}
{% block title %}
Абонемент
{% endblock title %}
{% block body %}
<div class="sport-main-block">
    <h2>Абонеметы</h2>
        <p><a class="sport-main-block-link" href ="{% url 'sport:create-subscription' %}"><i class="bi bi-plus-circle"></i> Добавить</a></p>
        <p><a class="sport-main-block-link" href ="{% url 'sport:list-subscription' %}"><i class="bi bi-card-list"></i> Список абонемнеметов</a></p>
        <hr/>
</div>

{% for obj in object_list %}
<div class="subscription-card">
<p>Название: {{obj.name}}</p>    
<p>Дата начала: {{obj.datestart}}</p>
<p>Дата окончания: {{obj.datestop}}</p>
<p>Всего занятий: {{obj.quantity}}&nbsp|&nbspОсталось занятий: {{obj.quantity }}</p>
<hr/>
<div>
    <form action="{% url 'sport:create-subscription-visit' %}" method="post">
        {% csrf_token %}
        <p><button class="post-subscription-button" type="submit" class="btn btn-success">Добавить тренировку</button></p>
        <input type="hidden" name="subscription" value="{{obj.pk}}">    
        <details>
            <summary>Комментарий:</summary>
        <p><input class="field-input-subscription" type="text" name="info" placeholder="Тренировка ног..." ></p>
        </details>
    </form>
</div>
<hr/>
<p><a class="subscription-main-block-link" href  ="{% url 'sport:list-subscription-visit' %}"><i class="bi bi-card-list"></i>&nbspСписок тренировок</a></p>
</div>
{% endfor %}


{% endblock body %}