{% extends 'base.html' %}
{% block title %}
Абонемент
{% endblock title %}
{% block body %}
<div>
    <p>Абонеметы</p>
        <p><a href ="{% url 'sport:subscription' %}">Добавить</a></p>
        <p><a href ="{% url 'sport:subscription' %}">Список абонемнеметов</a></p>
</div>


<div>
<p>Дата начал абонемента</p>
<p>Дата окончания абонемента</p>
<p>Всего занятий</p>
<p>Осталось занятий</p>
<p><a href ="{% url 'sport:subscription' %}">Добавить тренировку</a></p>
<p><a href ="{% url 'sport:subscription' %}">Список тренировок</a></p>
</div>



{% endblock body %}