{% extends 'base.html' %}




{% block body %}
{% comment %} <div style="float: right;">
<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.by/assets/flat-ui/legacy/css/informer.min.css">
<div id="gsInformerID-ShhSSR3h22r0j3" class="gsInformer" style="width:210px;height:201px">
    <div class="gsIContent">
        <div id="cityLink">
            <a href="https://www.gismeteo.by/weather-minsk-4248/" target="_blank" title="Погода в Минске">
                <img src="https://nst1.gismeteo.by/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Минске">
            </a>
            </div>
        <div class="gsLinks">
            <table>
                <tr>
                    <td>
                        <div class="leftCol">
                            <a href="https://www.gismeteo.by/" target="_blank" title="Погода">
                                <img alt="Погода" src="https://nst1.gismeteo.by/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
                                <img src="https://nst1.gismeteo.by/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
                            </a>
                            </div>
                            <div class="rightCol">
                                <a href="https://www.gismeteo.by/weather-minsk-4248/2-weeks/" target="_blank" title="Погода в Минске на 2 недели">
                                    <img src="https://nst1.gismeteo.by/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Минске на 2 недели">
                                </a>
                            </div>
                        </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script async src="https://www.gismeteo.by/api/informer/getinformer/?hash=ShhSSR3h22r0j3"></script>
<!-- Gismeteo informer END --> {% endcomment %}
</div>
<h1>То, что нужно реализовать(заметка для себя):</h1>


<h5>Что сдлеать по бюждету:</h5>
<ol>
    <li>Рассчитать резерв</li>
    <li>"Расширить" встроенного пользователя</li>
    <li>Возможность создавать общий бюждет(мега фича)</li>
    <li>Расчет доходов по месяцам, годам</li>
    <li>Вывод дохода за определенный промежуток времени</li>
    <li>"Подкинуть" форму в списки расходов</li>
    <li>При регистрации автоматически добавлять таблицы(дневной расход и резерв со значением 0)</li>
    <li>Навсети красоту</li>
    <li><s>Добавить требование логина и паролья для входа на сайт</s></li>
    <li>Прикрыть все =) и можно скидывать на сервер</li>
</ol>
<br>
<br>
<br>
<h5>Что сдлеать по спорту(основное):</h5>
<ol>
    <li>Упраженеия по группам им дням</li>
    <li>упражения.повторения.вес и пр. данные</li>
    <li>вес пользователя(с графиком)</li>
    <li>Расчет доходов по месяцам, годам</li>
</ol>
<br>
<br>
<br>
<h5>Заметки(основное):</h5>
<ol>
    <li>сдлеать возможность раскидывыать заметки по кстомным категориям</li>
    <li>создать модель категория с полями имя, ключ, пользователь</li>
</ol>


<br>
<br>
<br>
<h5>Напоминалки(основное):</h5>
<ol>
    <li>\\\\\Дни рождения. Отправка на емайл или пуш(?)\\\</li>
</ol>

<br>
<br>
<br>
<h5>Главная страница(основное):</h5>
<ol>
    <li>\\\\\Дни рождения. Отправка на емайл или пуш(?)\\\</li>
    <li>Блок с данными по бюджету</li>
    <li>блок с данными по спорту</li>
    <li>блок заметками(по дате )</li>
    <li>напоминания о ближайших др</li>

</ol>
{% endblock body %}
