{% load static %}
<!doctype html>
<html lang="ru" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> LOGIN </title>



<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
<link href={% static "icons/bootstrap-icons.css" %} rel="stylesheet">
<link href={% static "bootstrap/css/custom.css" %} rel="stylesheet">

<body class="p-3 mb-2 bg-dark text-white">
<div style="display: table; margin: 0 auto; text-align: center;" class="p-3 mb-2 bg-dark text-white">
{% if form.errors %}
<p>Имя пользователя или пароль не совпадают. Повторите попытку.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У Вас нет доступа к данной станице. Чтобы продолжить,
        пожалуйста, войдите в систему с учетной записью, имеющей доступ.</p>
    {% else %}
    <p>Войдите в систему, чтобы увидеть эту страницу.</p>
    {% endif %}
{% endif %}
<div class="p-3 mb-2 bg-secondary text-white" >
<form method="post" action="{% url 'login' %}">
{% csrf_token %}


    {{ form.username.label_tag }}<br>
    {{ form.username }}<br>

    {{ form.password.label_tag }}<br>
    {{ form.password }}<br>

<br><input class="btn btn-dark" type="submit" value="Войти">
<input  type="hidden" name="next" value="{{ next }}">
</form>
<br>
<div>
    <a href="{% url 'user:user-register' %}"><button type="button" class="btn btn-dark"><b>Зарегистрироваться</b></button></a><br>
</div>
<br>
</div>
{% comment %} <p  class="btn btn-warning"> <a href= "{% url 'custom_user:registration' %}" > Зарегистрироваться </a></p><br> {% endcomment %}
{# Assumes you set up the password_reset view in your URLconf #}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

</div>
</body>